h1 {
background: red;
}
.paragraph-1{
background: blue;
font-size: 32pt;
color: green;
}
.paragraph-2{
background: red;
border: 10px solid yellow;
border-radius: 40px;
font-size: 24pt;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 70px;
margin-top: 70px;
margin-bottom: 30px;

}
.paragraph-3{
font-weight: bold;
font-size: 14pt;
font-family: Courier New;
}
.p1 {
    background: blue;
}
.p2 {
    background: red;
}
.p3 {
    background: yellow;
}
.p4 {
    font-size: 24px;
    text-shadow: 1px 1px 2px green;
    text-align: center;
}